.single-page-container {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}
.single-page-content-wrapper {
  min-height: 100vh;
}
.side-panel {
  position: absolute;
  right: -520px;
  top: 0;
  bottom: 0;
  width: 500px;
  border-left: 1px solid #eceae9;
  box-shadow: -4px 3px 7px 0px rgba(163, 163, 163, 1);
  transition: right 1s;
  background-color: white;
}
.side-panel.hidden {
  right: -520px;
}
.side-panel.visible {
  right: 0;
}
.side-panel .content-block {
  padding-left: 20px;
}
.notebook-horizontal-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 12px;
  border-bottom: 1px solid #eceae9;
}
.notebook-horizontal-menu li {
  display: inline-block;
}
.notebook-horizontal-menu li a {
  padding: 5px 10px 10px;
}
.notebook-horizontal-menu li .active-nav-link {
  font-weight: bold;
  border-bottom: 2px solid black;
}
