.details-top-menu {
  display: flex;
  border-bottom: 1px solid #eceae9;
  padding: 5px;
}
.details-top-menu-left {
  flex: 1;
}
.simple-button {
  background: transparent;
  border: none;
  border-radius: 3px;
  padding: 5px 5px 0;
}
.simple-button:hover {
  background-color: #e3e3e3;
}
.dropdown-menu {
  position: relative;
}
.dropdown-content {
  position: absolute;
  /* z-index: 1; */
  right: 0;
  width: 175px;
  background-color: #fff;
  border: 1px solid #eceae9;
  border-radius: 3px;
  display: none;
}
.dropdown-menu.open .dropdown-content {
  display: block;
}
.dropdown-menu.open .simple-button {
  background-color: #e3e3e3;
}

.actions-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.actions-list li {
  padding: 0;
  margin: 0;
}
.actions-list li a {
  display: block;
  border-bottom: 1px solid #eceae9;
  padding: 5px 10px;
  color: #333;
}
.actions-list li.warning-action a {
  color: #ee0000;
}
.actions-list li a:hover {
  text-decoration: none;
  background-color: #eceae9;
}
