.centric-form {
  margin: 0 auto;
  width: 450px;
  background-color: #fff;
  padding: 20px 20px 180px;
  margin-bottom: 180px;
  border-radius: 10px;
  box-shadow: 0 5px 20px 0 rgba(109, 110, 111, 0.08);
}
.login-form label {
  display: block;
  margin-bottom: 10px;
}
.form-label {
  display: block;
}
.form-input {
  font-size: 1.2em;
  padding: 5px;
  width: 300px;
}
